[submodule "Micro-XRCE-DDS-Gen"]
	path = Micro-XRCE-DDS-Gen
	url = https://github.com/ardupilot/Micro-XRCE-DDS-Gen.git
[submodule "src/ardupilot"]
	path = src/ardupilot
	url = https://github.com/Persimia/ardupilot.git
